
body{
    background: url("../images/death_star_bg.jpg") no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}
h1{
    color: black;
}
.jumbotron{
    background: black;
    opacity: 1;
    padding: 0;
    display: flex;
}
.icon{
    width: 170px;
    height: auto;
    margin: 0 5px;
}
p{
    margin: 0;
}
.character-card{
    background: white;
    color: black;
    border: 2px yellow solid;
    margin: 10px;
    text-align: center;
}
.clickable-card:hover{
    cursor: pointer;
}
.enemy-card{
    color: black;
    border: 2px blue solid;
    background-color: red;
    margin: 10px;
    text-align: center;
}
.btn-light{
    background: yellow;
    border-color: yellow;
}
.defender-card{
    border: 2px red solid;
    background-color: black;
    margin: 10px;
    text-align: center;
}
.close{
    color: white;
    text-shadow: 0 1px 0 grey;
    opacity: 1;
}
.close:hover{
    color:yellow;
    text-shadow: 0 1px 0 grey;
    opacity: 1;
}
.modal-content{
    background: black;
    border: 1px white solid;
}
.btn-light:not(:disabled):not(.disabled).active, 
.btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle{
    color: red;
    background: yellow;
    border-color: rgb(221, 221, 61);
}
.background-btn{
    border-color: grey;
}
#options-button{
    position: absolute;
    left: 0;
    top: 0;
}
#game-end{
    color: yellow;
}
#attack-btn{
    margin-left: 1%;   
}
#attack-display{
    padding-top: 6%;
}
#character-select{
    display: flex;
    flex-wrap: wrap;
}
#your-character{
    display: flex;
}
#enemies{
    display: flex;
    flex-wrap: wrap;
}
#defender{
    display: flex;
}